<div ng-controller="playersController">
  <form name='playerForm' ng-submit="addPlayer()">
    Player Name: <input name="name"type="text" ng-model="newPlayer.name" minlength="4" required><br>
    <input type="submit" value="Add Product">
  </form>
  <div ng-messages="playerForm.name.$error">
    <p ng-message="minlength">The player name is too short.</p>
    <p ng-message="required">The player name is required.</p>
</div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in players">
        <td>{{player.name}}</td>
        <td><input type="submit" value="Delete player" ng-click="deletePlayer(player)"></td>
      </tr>
    </tbody>
  </table>
</div>
