<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mongoose test</title>
  </head>
  <body>
      test
      <form  action="/users" method="post">
        name: <input type="text" name="name"><br>
        age: <input type="text" name="age"><br>
        <input type="submit">
      </form>
      <p>testing...</p>
      <% for(var i in users){ %>
  <h3> name: <%= users[i].name  %></h3>
  <h3> age: <%= users[i].age  %></h3>
  <h3> ud: <%= users[i]._id  %></h3>
<%  } %>
  </body>
</html>
