<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>basic html page</title>
  </head>
  <body>
    <h1>counter</h1>
    <%= counter %>
    <form action="/plustwo" method="get">
      <input type="submit" value="plus 2">
    </form>
    <form action="/reset" method="get">
      <input type="submit" value="reset">
    </form>
  </body>
</html>
