<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>results</title>
  </head>
  <body>
    <p>name: <%= form.name %> </p>
    <p>location: <%= form.location %></p>
    <p>favorite language: <%= form.lang %></p>
    <p>comment: <%= form.comment %></p>

  </body>
</html>
